<!-- File Name: about.ejs
Student's Name: Kaleab Dubale
Student ID: 301190854
Date: October 12, 2023 -->
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Include the head partial for common HTML head elements -->
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
</head>

<body>
<%- include("../partials/header"); %>
  
  <main>
    <section class="content">
      <h1><%= title %></h1>
      

      <p>Welcome to my website. Here, you can find information about me.</p>

      <ol>
        <!-- Loop through details and display them -->
        <% details.forEach(detail => { %>
        <br>
        <li><%= detail %></li>
        <% }) %>
      </ol>

      <!-- Display an image of you -->
      <img src="/images/me.png" alt="picture of me" width="500" height="600"> <br>
      <!-- Link to your resume PDF -->
      <a href="kaleab resume copy.pdf" target="_blank">resume PDF</a>
      
    </section>

  </main>
</body>
<%- include("../partials/footer"); %>

</html>
