<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../partials/head"); %>
</head>
<body>
  <center>
    <h1><%= title %></h1>
  </center>

  <p>Welcome to my website. Here, you can find information about me and my projects.</p>

  <center>
    <a href="/about">About</a> |
    <a href="/projects">Projects</a> |
    <a href="/services">Services</a> |
    <a href="/contact">Contact</a>
  </center>
</body>
</html>
