<!DOCTYPE html>
<html lang="en">
<head>
  <%- include("../partials/head"); %>
</head>
<body>
  <center>
    <h1>Home Page</h1>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/aboutEJS">About EJS</a>
        </li>
        <li>
          <a href="/aboutNode">About Node JS</a>
        </li>
      </ul>
    </nav>
  </center>
</body>
</html>
